#titulo{
    color: #e2e2e2 !important;
    font-size: 50px !important;
}

body{

}

#features{
    background-color: rgba(212, 212, 212, 1) !important;
}
#imgDistritos{
    background-size: 50%;
}


#revo_main_wrapper{
    /* background-image: url("../images/Madrid/DistritosGrande.png"); */
    background-size: 40% !important;
    background-repeat: no-repeat !important;
    background-position: center;
    background-color: #d4d4d4
}


#divTitulo{
    width: 100% !important;
}

#titulo > span{
    font-size: 42px !important;
}

#integrantes{
    font-family: 'Raleway', sans-serif;
    font-weight: 300 !important;
    font-size: 21px !important;
    color: #e2e2e2 !important;
    margin: 0px 0px 0px 0px;
    padding: 28% 0px 0px 0px;
    top: 5%;
    list-style: none;
}

#m-parallax2{
    background-image: url('../images/Madrid/retencion copia.jpg') !important;
    padding: 11em;
}

.negro{
    background-color: #101010ba !important;
}

#maxo-testimonials{
    background-color: rgba(212, 212, 212, 1) !important;
    /*background: url("../images/bgfull-1.jpg") no-repeat; style.css:1447   */

}


.tp-parallax-wrap{
    top: 200px !important;
}

.container{
    padding: 0 90px 0 90px;
    width: auto !important;
}


.bloqueTextoI, .bloqueTextoI > li, .bloqueTextoI > p{
    font-size: 16px;
    text-align: left;
    padding-right: 18em;
}

.bloqueTextoD, .bloqueTextoD > li, .bloqueTextoD > p{
    font-size: 16px;
    text-align: right;
    padding-left: 18em;
}

#imagenTrafico{
    padding: 0 0 0 3em ;
}
.padding{
    padding: 4.5rem 2em 4.5rem 0;
}

ul{
    padding: 0.5em 0 0.5em 2em;
    list-style: initial;
}


@media only screen and (max-width: 600px) {
    #titulo {
        /*width: 246px;*/
    }
    #integrantes > li{

        padding: 2% 0px 0px 0px;

    }
}

#Distrito01{

}

#distrito1{
    position: relative;
    top: 310px;
    right: 80px;
    bottom: 0px;
    left: 630px;
    margin-right: 1395px;
    z-index: 1000;
}

#distrito2{
    position: relative;
    top: 124px;
    right: 80px;
    bottom: 0px;
    left: 600px;
    margin-right: 1395px;
    z-index: 10;
}

#distrito3{
    position: relative;
    top: 310px;
    right: 80px;
    bottom: 0px;
    left: 630px;
    margin-right: 1395px;
    z-index: 100;
}


.distrito{
    padding: 0.5em;
    color: black;
    z-index: 100;
}

.distrito:hover{
    font-size: 23px !important;
    padding: 0em;
    color: red;
    margin-top: 4px;
}
.map-content {
    text-align: center;
    margin: 0 auto;
}
.interactive-map {
    width: 910px; /*500px*/
    opacity: 1;
    /*transform: rotate(-4deg);*/
}



/*
#MapaInteractivo{
    background-image: url('../images/Madrid/cap.png');
    background-repeat: no-repeat;
    background-size: 90%;
    background-position-x: 64%;
    background-position-y: 15%;
}
*/
