#titulo{
    color: #e2e2e2 !important;
    font-size: 50px !important;
}

#divTitulo{
    width: 100% !important;
}

#titulo > span{
    font-size: 42px !important;
}

#integrantes{
    font-family: 'Raleway', sans-serif;
    font-weight: 300 !important;
    font-size: 21px !important;
    color: #e2e2e2 !important;
    margin: 0px 0px 0px 0px;
    padding: 28% 0px 0px 0px;
    top: 5%;

}

#maxo-testimonials{
    background-color: rgba(212, 212, 212, 1) !important;
    /*background: url("../images/bgfull-1.jpg") no-repeat; style.css:1447   */

}

.tp-parallax-wrap{
    top: 200px !important;
}

.container{
    padding: 0 90px 0 90px;
    width: auto !important;
}


.bloqueTexto, .bloqueTexto > li, .bloqueTexto > p{
    font-size: 16px;
}

#imagenTrafico{
    padding: 0 0 0 3em ;
}
.padding{
    padding: 5.5rem 2em 5.5rem 0;
}

ul{
    padding: 0.5em 0 0.5em 2em;
    list-style: initial;
}


@media only screen and (max-width: 600px) {
    #titulo {
        /*width: 246px;*/
    }
    #integrantes > li{

        padding: 2% 0px 0px 0px;

    }
}