#titulo{
    color: #e2e2e2 !important;
    font-size: 50px !important;
}

body{

}


:root{
    --background-gris: rgba(231, 231, 231, 0.4); /*rgba(212, 212, 212, 0.4)*/

}

#SobreProyecto{
    background-color: var(--background-gris) !important;
}
#imgDistritos{
    background-size: 50%;
}


#revo_main_wrapper{
    background-size: 40% !important;
    background-repeat: no-repeat !important;
    background-position: center;
    /* background-color: #d4d4d4*/
}


#divTitulo{
    width: 100% !important;
}

#titulo > span{
    font-size: 42px !important;
}

#integrantes{
    font-family: 'Raleway', sans-serif;
    font-weight: 300 !important;
    font-size: 25px !important;
    color: #e2e2e2 !important;
    margin: 0px 0px 0px 0px;
    padding: 24% 0px 0px 0px;
    top: 5%;
    list-style: none;
}

#integrantes li{
    line-height: 30px;
}


#m-parallaxTrafico{
    background-image: url('../images/Madrid/retencion copia.jpg') !important;
    padding: 11em;
}

.negro{
    background-color: #101010ba !important;
}

#maxo-testimonials{
    /*background-color: var(--background-gris) !important;*/
    /*background: url("../images/bgfull-1.jpg") no-repeat; style.css:1447   */

}


.tp-parallax-wrap{
    top: 200px !important;
}

.container{
    padding: 0 90px 0 90px;
    width: auto !important;
}


.bloqueTexto, .bloqueTexto > li, .bloqueTexto > p{
    font-size: 16px;
    /*padding-right: 18em;*/
    text-align: justify ;


}

.bloqueTexto > ul{
    padding: 0.5em 0 0.5em 2em;
    list-style: initial;
}

.text-right{
    text-align: right;
}

.text-left{
    text-align: left;
}


#imagenTrafico{
    padding: 0 0 0 3em ;
}
.padding{
    padding: 4.5rem 2em 4.5rem 0;
}


@media only screen and (max-width: 600px) {
    #divTitulo{
       /* width: 100%;*/
    }
    #titulo {
      /*  width: 246px;*/
    }
    #integrantes > li{

        padding: 2% 0px 0px 0px;

    }
}

#Distrito01{

}

#distrito1{
    position: relative;
    top: 310px;
    right: 80px;
    bottom: 0px;
    left: 630px;
    margin-right: 1395px;
    z-index: 1000;
}

#distrito2{
    position: relative;
    top: 124px;
    right: 80px;
    bottom: 0px;
    left: 600px;
    margin-right: 1395px;
    z-index: 10;
}

#distrito3{
    position: relative;
    top: 310px;
    right: 80px;
    bottom: 0px;
    left: 630px;
    margin-right: 1395px;
    z-index: 100;
}


.distrito{
    padding: 0.5em;
    color: black;
    z-index: 100;
}

.distrito:hover{
    font-size: 23px !important;
    padding: 0em;
    color: red;
    margin-top: 4px;
}
.map-content {
    text-align: center;
    margin: 0 auto;
}


.interactive-map {
    max-width: 910px; /*width: 910px; /*500px*/
    width: 100%;
}

#teamSlideContainer{
   /* width: 919px;*/

}

#contenedorScrubber{
	margin-bottom:20px;
}/*
.parallax-bg{
	background: url("../images/Madrid/parallax1.jpg") no-repeat;
	/*background-size: 100% !important;*/
/*}*/
/*.bgfull-imgtwo{
	background: url("../images/Madrid/parallax2.jpg") no-repeat;*/
	/*background-size: 100% !important;*/
/*}*/

.heading_space{
    font-size: 2.2em;
}


#titulo_medias{
	text-align:center;
}
/*
#MapaInteractivo{
    background-image: url('../images/Madrid/cap.png');
    background-repeat: no-repeat;
    background-size: 90%;
    background-position-x: 64%;
    background-position-y: 15%;
}
*/

#paddingMapaParallax{
    padding: 6.5rem 0 !important;
}